// MOST COMMONLY USED COLORS THROUGHOUT THEME
// =============================================================================

$black: #2b2521;
$off-black: #2b2521;
$white: #ffffff;
$off-white: #f1f1f1;
$breadcrumbs: #f7f5f1;
$grey: #dddddd;
$grey_1:#918d87;
$grey_2:#e3e3e3;
$grey_3:#f2f3f5;
$grey-dark: #949494;

$off-grey:#ae9977;

$gold:$off-grey;

// CUSTOM COLORS
$red: #b3271f;
$orange: #dd9e58;
$orange-light: #e4b17a;
$light-brown: #6a6357;
$brown-grey: #7c7467;
$dark-brown: #575245;


$body-text: #252525;

$link: $red;
